In [1]:
rows=4
for i in range(rows+1):
    for j in range(i):
        print("ineuron",end="  ")
        
    print(" ")

ineuron
ineuron  ineuron
ineuron  ineuron  ineuron
ineuron  ineuron  ineuron  ineuron

In [2]:
rows = 2
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end="    ")
    k = k - 1
    for j in range(0, i + 1):
        print("ineuron", end=" ")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end="    ")
    k = k + 1
    for j in range(0, i + 1):
        print("ineuron", end=" ")
    print("")

        ineuron
    ineuron ineuron
ineuron ineuron ineuron
    ineuron ineuron
        ineuron

In [3]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
   ["ineuron","data science"]]
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [4]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [5]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [143]:
list1=[]
for i in l:
    if type(i)==list or type(i)==tuple :
        for j in i:
            if (type(j)==int):
                print(j)
                list1.append(j)
    if type(i)==set :
        l2=list(i)
        for j in l2:
            if (type(j)==int):
                print(j)
                list1.append(j)
    
    if type(i)==dict:
        for j in i:
            if (type(j)==int):
                print(j)
                list1.append(j)
                print(i[j])
                list1.append(i[j])

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [7]:
list1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [9]:
Sum=sum(list1)
print(Sum)

156

In [31]:
oddvalueList=[]
for i in list1:
    if(i%2==1):
        oddvalueList.append(i)
print(oddvalueList)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [ ]:
l

In [54]:


for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple :
        for k in i:
            if(k=="ineuron"):
                print(k,type(i))
                
    if type(i)==dict:
        for k in i.keys():
            if(k=="ineuron"):
                print(k,type(i))
        for v in i.values():
            if(v=="ineuron"):
                print(v,type(i))

ineuron <class 'dict'>
ineuron <class 'list'>

In [108]:
freq = {}
mylist=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for item in i:
            mylist.append(item)
    if type(i)==dict:
        for item in i:
            mylist.append(item)
            mylist.append(i[item])
print(mylist)

for items in mylist:
        freq[items] = mylist.count(items)
for key, value in freq.items():
        print(key,":",value)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
23 : 1
k1 : 1
sudh : 1
k2 : 1
ineuron : 2
k3 : 1
kumar : 1
8 : 1
data science : 1

In [117]:
for i in l:
    if type(i)==dict:
        print(i.keys())
        print("Total number of keys in the dictionary is:",len(i.keys()))

dict_keys(['k1', 'k2', 'k3', 3, 7])
Total number of keys in the dictionary is: 5

In [169]:
str_list=[]
for i in l:
    if type(i)==set or type(i)==list or type(i)==tuple:
        if (type(i)==str):
            print(i)
            for item in i:
                str_list.append(item)
    if type(i)==dict:
        if (type(i)==str):
             for item in i:
                    print(item)
                    str_list.append(item)
                    str_list.append(i(item))
print(str_list)

[]

In [174]:
mylist
for i in mylist:
    if(type(i) == str):
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [177]:
mylist
for i in mylist:
    if(type(i)==str):
        if(i.isalnum()==True):
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [180]:
mul=1
for i in list1:
    mul=mul*i
print(mul)

908605071360000

In [182]:
print(mylist)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']